.main-informacoes-pokemons{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEEEE;
    position: relative;
}

.main-informacoes-pokemons-triangulo{
    width: 15%;
    height: 35%;
    background-image: url('../../Imagens/triangulo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-informacoes-pokemons-logo{
    width: 15%;
    height: 34%;
    background-image: url('../../Imagens/Logo-pokemon-design-element.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    position: absolute;
    top: 4%;
    right: 52%;
}

.bolinhas{
    width: 10%;
    height:15%;
    background-image: url('../../Imagens/bolinhas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    position: absolute;

}

.main-informacoes-pokemons-bolinhas1{
    top: 3%;
    left: 1%;
}

.main-informacoes-pokemons-bolinhas2{
    bottom: 3%;
    left: 50%;
}

.main-informacoes-pokemons-imagens{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-imagens-container{
    width: 75%;
    height: 85%;
    background-color: #EC4434;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    flex-direction: column;
    color: #fff;
}

.main-informacoes-pokemons-imagens-container > img{
    width: 85%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-imagens-container > p{
    width: 100%;
    height: 10%;
    font-weight: bold;
}

.main-informacoes-pokemons-informacoes{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-informacoes-container{
    width: 85%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-informacoes-pokemons-informacoes-container-vermelho{
    width: 97%;
    height: 95%;
    background-color: #EC4434;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container{
    width: 80%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-navbar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-navbar > ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.main-informacoes-pokemons-informacoes-container-vermelho-container-navbar > ul > il{
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-navbar > ul > il.ativo{
    border-bottom: 2px solid #ffffff;
    color: #fff;

}



.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes{
    width: 100%;
    height: 90%;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-sobre{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-sobre > h2{
    width: 50%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-sobre > p{
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-pontos{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-pontos > ul{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-pontos > ul > il:hover{
    color: #bdbdbd;
    cursor: pointer;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-pontos > ul > il > img{
    width: 50%;
    height: 100%;
    border-color: #bdbdbd;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-grafico{
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-grafico-titulo{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-grafico-container{
    width: 100%;
    height: 80%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-grafico-container-pontos{
    width: 83%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;

}

.valores{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    background-color: #FF4E4E;
    color: #00000000;
}

.valores:hover{
    color: #ffffff;
    transition: 0.2s ease-out;
}



.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-grafico-nomes{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-informacoes-pokemons-informacoes-container-vermelho-container-informacoes-container-grafico-nomes > ul{
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}



.main-informacoes-pokemons-informacoes-container-escuro{
    width: 97%;
    height: 95%;
    background-color: #A32316;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}

